#new-data-page {
  * {
    font-style: "Roboto, sans-serif";
  }

  h1 {
    margin-top: 50px;
  }

  .btn-purple {
    background-color: #5C3CA5;
    color: white;
  }

  .center {
    width: 50%;
    margin: auto auto;
  }

  .content-block {
    margin-top: 40px;
    margin-bottom: 100px;
    
    h2 {
      font-size: 26px;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    p {
      font-size: 18px
    }
  }

  .project-steps {
    p {
      font-style: italic;
      font-weight: 280;
    }
    h2{
      font-size: 20px;
      font-weight: normal;
    }
  }

  

}
