#submit {

  padding: 50px;
  margin: 0 30px 0 30px;

  h1, h2 {
    color: #4B2E83;
  }

  h1 {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 24px;
  }

  form {
    margin-top: 60px;
  }

  .form-group label {
    font-weight: 500;
  }

}
