<div id="edit-project-page" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/edit-project-page.less</em>, <em>assets/js/pages/edit-project-page.page.js</em>, and <em>api/controllers/view-edit-project-page.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
