<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <a id="new-data-card" href="new-data-page" style="padding: 50px; border-radius: 10px; margin-right: 50px; border: 1px solid black;">New Design with New Data</a>
      <a id="old-data-card" href="old-data-page" style="padding: 50px; border-radius: 10px; border: 1px solid black;">New Design with Old Data</a>
    </div>
  </div>

  <div>
    <h2>This is a space to practice some development stuff. Currently editing the homepage.ejs file in the page directory</h2>
    <div>Next, I'm going to try and put the search component that I defined in the component/ director directly into this page. This component takes a "placehodler" prop</div>
    <search-bar placeholder="custom placeholder"></search-bar>
    <div>There should now be a search bar above this line</div>
    <banner src="https://lh3.googleusercontent.com/proxy/LjkoX2Ya5552O6pjkgQPZjfFDqzj_ZnTL2-AoRUMtaj7MAVERUQIzc2qSNjIkO1c69GBcXFOvFLWNSqvnWlqfFPr7AiA" alt="hi"></banner>
    <outline-button url = "location.href='https://www.youtube.com';" text = "View full poster (pdf)"> </outline-button>
    <outline-button text = "View project website"></outline-button>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
