<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <a id="new-data-card" href="new-data-page" style="padding: 50px; border-radius: 10px; margin-right: 50px; border: 1px solid black;">New Design with New Data</a>
      <a id="old-data-card" href="old-data-page" style="padding: 50px; border-radius: 10px; border: 1px solid black;">New Design with Old Data</a>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
