
<div id="homepage" style="background-color: #E5E5E5" v-cloak>
  <navbar placeholder="Search"></navbar>
  <carousel></carousel>
  <div >
    <!-- {{project}} 
    project.title
    <project-card :name="project.title"></project-card> -->
  </div> 
  <!-- explore work by major section. Will become a component later -->
  <div class="d-flex justify-content-around align-items-center" style="background-color: #5C3CA5; color: white; padding: 30px; margin-bottom: 30px;">
    <div>
      <h2 style="font-size: 24px; margin-bottom: 20px;">Explore Work by Major</h2>
      <ul style="list-style: none; padding: 0;">
        <li style="padding: 10px;">
          <strong>INFO</strong> Informatics
          <small style="display: block"><em>Undergraduate Major and Minor</em></small>
        </li>
        <li style="padding: 10px;">
          <strong>MLIS</strong>
          <small style="display: block"><em>Master of Library and Information Science</em></small>
        </li>
        <li style="padding: 10px;">
          <strong>MSIM</strong>
          <small style="display: block"><em>Master of Science in Information Management</em></small>
        </li>
      </ul>
    </div>
    <div style="height: 200px; width: 300px; background-color: grey; color: white; text-align: center">Image will go here</div>
  </div>

  <!-- explore student work section -->
  <!-- <div class="d-flex flex-wrap" style="padding: 10px; width: 90%; background-color: white; margin: auto auto;">
    <project-card
      url="new-data-page"
      src="images/data-diary.png"
      alt="data diary image"
      name="Data Diary"
      description="Developing data literacy skills at a young age to dramatically improve workforce preparedness."
      year></project-card>
  </div> -->
  
  <div style="padding: 30px; background-color: white; width: 90%; margin: auto auto;">
    <h2 style="text-align: center;">Explore Student Work</h2>
    <hr style="border: 1px solid rgba(116, 116, 116, 0.5);">  
    <br/>
      <div class= 'column'>
        <span style="padding-left: 30px; font-weight: bold; font-size: 26px; line-height: 30px; display: flex inline; align-items: center; letter-spacing: 0.03em;">Sponsored</span>
        <button id="SponsoredNav" style="display:inline; border: 2px solid #727272; box-sizing: border-box; border-radius: 10px; ">&lt</button>
        <button id="SponsoredNav" style="display:inline; border: 2px solid #727272; box-sizing: border-box; border-radius: 10px; ">&gt</button>
        <div class = 'row' id="Sponsored">
          <div v-for="project in projects">
            <project-card 
              :name="project.title"
              :sponsored="project.sponsored"
              :year=2020
              src="https://ischool.uw.edu/sites/default/files/styles/max_140x140/public/capstone/2019/3914/title-image-team-lemond.png?itok=DNUr-Zj5%22%20alt=%22Project%20Logo%22"
              url="http://localhost:1337/project/Age%20Friendly%20Businesses"
              :description="project.tagline"
            >
            </project-card>
          </div>
        </div>
        <!-- <span style="padding-left: 40px; font-weight: bold; font-size: 26px; line-height: 30px; display: flex inline; align-items: center; letter-spacing: 0.03em;">Individual</span>
        <button id="SponsoredNav" style="display:inline; border: 2px solid #727272; box-sizing: border-box; border-radius: 10px; ">&lt</button>
        <button id="SponsoredNav" style="display:inline; border: 2px solid #727272; box-sizing: border-box; border-radius: 10px; ">&gt</button>
        <div class = 'row' id="Individual">
          <project-card></project-card>
          <project-card></project-card>
          <project-card></project-card>
        </div>
        <span style="padding-left: 40px; font-weight: bold; font-size: 26px; line-height: 30px; display: flex inline; align-items: center; letter-spacing: 0.03em;">Research</span>
        <button id="SponsoredNav" style="display:inline; border: 2px solid #727272; box-sizing: border-box; border-radius: 10px; ">&lt</button>
        <button id="SponsoredNav" style="display:inline; border: 2px solid #727272; box-sizing: border-box; border-radius: 10px; ">&gt</button>
        <div class = 'row' id="Research">
          <project-card></project-card>
          <project-card></project-card>
          <project-card></project-card>
        </div>-->
      </div>
  </div>
  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
