<div id="new-data-page" v-cloak>

  <main>
    <h1 style="text-align: center; margin-top: 50px;">{{ project.projectTitle }}</h1>
    <p style="text-align: center;">subtitle goes here...</p>
    <image :src="project.image" alt="data diary image" style="width: 100%; height: 300px; object-fit: cover; margin-bottom: 20px"/>

    <div class="d-flex">
      <div id="left-column" class="flex-column">
        <team-member
          v-for="member in project.teamMembers"
          :fname="member.firstName"
          :lname="member.lastName"
          :role="member.role"
        ></team-member>
      </div>

      <div id="main-content" class="flex-column" style="flex: 4;">
        <div class="d-flex">
          <div class="project-steps" style="padding: 10px; border-right: 1px solid black;">
            <h2 style="font-size: 24px; text-align: center;">THE CHALLENGE</h2>
            <p style="font-size: 14px; text-align: center;">{{ project.challenge }}</p>
          </div>
          <div class="project-steps" style="padding: 10px; border-right: 1px solid black;">
            <h2 style="font-size: 24px; text-align: center;">THE OUTCOME</h2>
            <p style="font-size: 14px; text-align: center;">{{ project.outcome }}</p>
          </div>
          <div class="project-steps" style="padding: 10px;">
            <h2 style="font-size: 24px; text-align: center;">THE IMPACT</h2>
            <p style="font-size: 14px; text-align: center;">{{ project.impact }}</p>
          </div>
        </div>

        <div style="margin-top: 40px; padding: 0px 30px 0px 30px">
          <h2 style="font-size: 24px; text-align: center;">Problem Statement</h2>
          <p style="text-align: center;">{{ project.problemStatement }}</p>
        </div>

        <div style="margin-top: 40px; padding: 0px 30px 0px 30px">
          <h2 style="font-size: 24px; text-align: center;">Key Features</h2>
          <div class="d-flex">
            <p style="text-align: center;">{{ project.keyFeatures }}</p>
            <div style="width: 500px; height: 100px; background-color: grey; margin: 10px"></div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
