<div id="new-data-page" v-cloak>

  <main>
    <h1 style="text-align: center; margin-top: 50px;">Data Diary: Data with Friends</h1>
    <p style="text-align: center;">Developing data literacy skills at a young age can dramatically improve workforce preparedness</p>
    <image src="images/data-diary.png" alt="data diary image" style="width: 100%; height: 300px; object-fit: cover; margin-bottom: 20px"/>

    <div class="d-flex">
      <div id="left-column" class="flex-column">
        <team-member name="Austin Quach" role="Back-end Developer"></team-member>
        <team-member name="Katherine Lu" role="Front-end Developer"></team-member>
        <team-member name="Ian Callender" role="UX Designer"></team-member>
        <team-member name="Xueqi Xia" role="Product Manager"></team-member>
      </div>

      <div id="main-content" class="flex-column" style="flex: 4;">
        <div class="d-flex">
          <div class="project-steps" style="padding: 10px; border-right: 1px solid black;">
            <h2 style="font-size: 24px">THE CHALLENGE</h2>
            <p style="font-size: 14px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
              commodo consequat.</p>
          </div>
          <div class="project-steps" style="padding: 10px; border-right: 1px solid black;">
            <h2 style="font-size: 24px">THE OUTCOME</h2>
            <p style="font-size: 14px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
              commodo consequat.</p>
          </div>
          <div class="project-steps" style="padding: 10px;">
            <h2 style="font-size: 24px">THE IMPACT</h2>
            <p style="font-size: 14px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
              commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
