<div id="old-data-page" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/old-data-page.less</em>, <em>assets/js/pages/old-data-page.page.js</em>, and <em>api/controllers/view-old-data-page.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
