<div id="old-data-page" v-cloak>
  <!-- <banner src="https://i.ibb.co/0BTLWcc/Screenshot-2021-03-04-100201.png" alt="hii"></banner> -->
  <p style="font-size: 40px; text-align: center; margin-top: 4em;"><strong>C-Bike Locker Management</strong></p>
  <h3></h3>
  <banner style="margin-top: 20px" src="https://ischool.uw.edu/sites/default/files/capstone/2020/5053/poster-img.png" alt="banner"></banner>
  <div>
    <!-- <a style="font-size: 18px; padding-left: 12em; display: inline-block; color: #5C3CA5" href="https://www.linkedin.com/in/alessandro-lou/"><strong>Alessandro Lou</strong></a> -->
    <h5 style="font-size: 18px; padding-left: 12em; display: inline-block;"><strong>Alessandro Lou</strong></h5>
    <h5 style="font-size: 18px; margin-left: 10em; display: inline-block;"><strong>Eva Perez</strong></h5>
    <h5 style="font-size: 18px; margin-left: 8em; display: inline-block;"><strong>Jeongvin Yeom</strong></h5>
    <h5 style="font-size: 18px; padding-left: 8em; display: inline-block;"><strong>Kathy Tran</strong></h5>  
  </div>
  <div>
    <h5 style="font-size: 18px; padding-left: 13em; display: inline-block;">Informatics</h5>
    <h5 style="font-size: 18px; margin-left: 10.7em; display: inline-block;">Informatics</h5>
    <h5 style="font-size: 18px; margin-left: 8.8em; display: inline-block;">Informatics</h5>
    <h5 style="font-size: 18px; padding-left: 8.9em; display: inline-block;">Informatics</h5>  
  </div>

  <div>
    <p style="font-size: 35px; text-align: center; margin-top: 2em; letter-spacing: 4px;"><strong>ABSTRACT</strong></p>
    <div id="rectangle" style="width: 230px; height: 18px; background-color:#8E68D7; opacity: 55%; margin-left: 42%; margin-top: -40px;"></div>  
    <p style="font-size: 18px; text-align: center; width: 40em; margin: auto; padding-top: 2em;">Cascade Bicycle Club handles 220 of King County Metro’s leased bike locker units and manages over 160 customers who rent these eco-friendly and affordable lockers. Cascade relied heavily on manual transactional processes to facilitate their bike locker leasing program. Our project, C-Bike, has successfully eased the process for this non-profit by creating a secure, data-integrable customer management database for locker administrators, and a clear, concise frontend locker rental webpage for customer inquiries. Through C-Bike, customers and administrators can have swift and more secure interactions, thus ensuring that these resources are quickly accessible to those who need them.</p>
  </div>

  <div style="margin-top: -240px; float: inline-start; padding-left: 4em;;">
    <h5 style="font-size: 18px;"><strong>Year</strong></h5>
    <p style="font-size: 18px;"><em>2020</em></p>

    <h5 style="font-size: 18px;"><strong>Sponsor</strong></h5>
    <p style="font-size: 18px;"><em>Cascade Bicycle Club</em></p>

    <h5 style="font-size: 18px;"><strong>Major(s)</strong></h5>
    <p style="font-size: 18px;"><em>Informatics</em></p>

    <h5 style="font-size: 18px; margin-top: 7em;"><strong>Topics</strong></h5>
    <outline-button style="font-size: 14px; margin-left: auto;"text = "business & systems analysis"></outline-button>
    <div>
      <outline-button style="font-size: 14px; margin-left: auto;"text = "database administration & development"></outline-button>
    </div>

    <h5 style="font-size: 18px; margin-top: 3em;"><strong>Technologies</strong></h5>
    <outline-button style="font-size: 14px; margin-left: auto;"text = "Django"></outline-button>

  </div>

  <div>
    <p style="font-size: 35px; text-align: center; letter-spacing: 4px; margin-top: -12em;"><strong>INFOGRAPHIC</strong></p>
    <div id="rectangle" style="width: 300px; height: 18px; background-color:#8E68D7; opacity: 55%; margin-left: 40%; margin-top: -40px;"></div>  
    <img style="object-fit: contain; width: 60%; margin: auto;"src="https://i.ibb.co/ypP724j/Screenshot-2021-03-04-112416.png" alt="infographic">
  </div>



  <img style="object-fit: fill; width: 100%; margin-top: 3em;"src="https://i.ibb.co/k40qNdB/Screenshot-2021-03-04-115426.png" alt="hi">
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
