<div id="submit" v-cloak class="mx-auto" style="max-width: 1200px">

  <h1>Capstone Submission Form</h1>
  <p>All Capstone project teams, including online students/teams, must submit this form no later than <strong>12:00 PM (Noon) on Monday, May 18th Pacific Time.
     Each team should submit only one form for the entire team.
  </strong></p>
  <p><strong>No late submissions will be accepted.</strong></p>
  <p>This form is required <strong>in addition to</strong> class assignments. The event team needs this information for the Capstone event and the Capstone project archives.</p>
  <p>When you submit, you'll see a confirmation message including a link that will allow you to edit your submission until the May 18th deadling.</p>

  <button id="anchor" class="d-none"></button>
  <form @submit="onSubmit">
    <!-- first page -->
    <div v-if="step===1">
      <!-- team member section -->
      <div class="mb-5">
        <h2>Team Members</h2>
        <p>Please list team member names as they should appear in the Capstone project archives.</p>
        <p>Please check the box next to team members who do not want their names listed in the Capstone project archives.</p>

        <div v-for="member in form.teamMembers">
          <div v-if="form.teamMembers.length > 1 && member.index !== 0">
            <hr>
            <br>
          </div>
          
          <h3>Team Member {{member.index + 1}}</h3>
          <div>
            <div class="form-row">
              <div class="col form-group required">
                <label :for="member.index + '-fname'" class="control-label">First Name</label>
                <input
                  :id="member.index + '-fname'"
                  class="form-control"
                  v-model="form.teamMembers[member.index].firstName"
                  type="text"
                ></input>
              </div>
              <div class="col form-group required">
                <label :for="member.index + '-lname'" class="control-label">Last Name</label>
                <input
                  :id="member.index + '-lname'"
                  class="form-control"
                  v-model="form.teamMembers[member.index].lastName"
                  type="text"
                ></input>
              </div>
              <div class="form-group">
                <label id="opt-out-group-label" class="d-block control-label">Opt-out of website</label>
                <div class="form-check form-group" aria-labelledby="opt-out-group-label">
                  <input
                    :id="member.index + '-opt'"
                    type="checkbox"
                    class="form-check-input"
                    v-model="form.teamMembers[member.index].optOut"
                  ></input>
                  <label class="form-check-label" :for="member.index + 'opt'">Yes, opt-out</label>
                </div>
              </div>
            </div>
            <div class="form-group required">
              <label :for="member.index + '-role'" class="control-label mb-0" :aria-describedby="member.index + '-role-description'">Role</label>
              <small :id="member.index + '-role-description'" class="d-block mb-2">E.g. Project Manager, UX Designer, Developer etc.</small>
              <input
                :id="member.index + '-role'"
                class="form-control"
                v-model="form.teamMembers[member.index].role"
                type="text"
              ></input>
            </div>
            <div class="form-group">
              <label :for="member.index + '-linkedin'" class="control-label">LinkedIn URL</label>
              <input
                :id="member.index + '-linkedin'"
                class="form-control"
                v-model="form.teamMembers[member.index].linkedIn"
                type="text"
              ></input>
            </div>
            <div class="form-group required">
              <label id="program-label" class="d-block control-label">Program</label>
              <div class="form-check form-check-inline" v-for="program in programs" aria-labelledby="program-label">
                <input
                  class="form-check-input"
                  type="radio"
                  :name="'inlineRadioOptions' + member.index"
                  :id="program + '-radio' + member.index"
                  :value="program"
                  v-model="form.teamMembers[member.index].program"
                >
                <label class="form-check-label" :for="program + '-radio' + member.index">{{ program }}</label>
              </div>
            </div>
            
          </div>
        </div>

        <button @click="addTeamMember()" type="button" class="btn btn-outline-purple">Add team member</button>
        <!-- <button @click="deleteTeamMember()" type="button" class="btn btn-outline-danger absolute-end">Delete team member</button> -->
      </div>
      <!-- end of team member section -->

      <!-- project information section -->
      <div class="mb-5">
        <h2>Project Information</h2>
        <p>Please fill out the following information regarding your Capstone project. After filling out all of the information, you will be able to preview your Capstone project page.</p>
        
        <div class="form-group required">
          <label for="project-title-input" class="control-label">Project Title</label>
          <input
            id="project-title-input"
            class="form-control"
            v-model="form.projectTitle"
            type="text"
            required
          ></input>
        </div>

        <div class="form-group required">
          <label for="project-subtitle-input" class="control-label mb-0">Tag Line</label>
          <small id="subtitle-helper" class="d-block mb-2">Write a 1-2 sentence tag line for your project.</small>
          <input
            id="project-subtitle-input"
            class="form-control"
            v-model="form.projectSubtitle"
            type="text"
            required
            aria-describedby="subtitle-helper"
          ></input>
        </div>

        <div class="form-group required">
          <label for="tileImage" class="control-label" aria-describedby="tileImage-description">Please upload a tile image</label>
          <input
            id="tileImage"
            type="file"
            class="form-control-file"
            v-on:change="processFile($event)"
            required
          ></input>
          <small id="tileImage-description" class="mt-2">This is what people will click on to see your project in the Capstone project website.<br>
            Exactly 500 pixels wide x 280 pixels high (png, gif, jpg, jpeg)
          </small>
        </div>

        <div class="form-group required">
          <label for="heroImage" class="control-label">Please upload a banner hero image</label>
          <input
            id="heroImage"
            type="file"
            class="form-control-file"
            v-on:change="processFile($event)"
            required
          ></input>
          <small id="heroImage-description">This is the hero image that people will see under your project title.<br>
            At least 1500 pixels wide x 650 pixels high (png, gif, jpg, jpeg)
          </small>
        </div>

        <div class="form-group required">
          <label for="projectImage-alt" class="control-label">Please provide alt text for the image</label>
          <input
            id="projectImage-alt"
            class="form-control"
            v-model="form.images.projectImage.alt"
            type="text"
            required
          ></input>
        </div>

        <div class="form-group required" aria-labelledby="sponsor-label">
          <label class="control-label">Is Your Project Sponsored?</label>
          <div class="form-check">
            <input
              type="radio"
              id="yesSponsored"
              name="yesSponsored"
              class="form-check-input"
              v-model="form.sponsored"
              v-bind:value="true"
            >
            <label class="form-check-label" for="yesSponsored">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="noSponsored"
              name="noSponsored"
              class="form-check-input"
              v-model="form.sponsored"
              v-bind:value="false"
            >
            <label class="form-check-label" for="noSponsored">
              No
            </label>
          </div>
        </div>

        <div class="form-group" v-if="form.sponsored">
          <label for="sponsor-input" class="control-label">Sponsor</label>
          <input
            id="sponsor-input"
            class="form-control"
            v-model="form.sponsorName"
            type="text"
          ></input>
        </div>

        <div class="form-group required">
          <label for="challenge-input" class="control-label mb-0" aria-describedby="challenge-description">The Challenge</label>
          <small id="challenge-description" class="d-block mb-2">In 1-2 sentences, write about the challenge of your project</small>
          <textarea
            id="challenge-input"
            class="form-control"
            v-model="form.challenge"
            type="text"
            required
          ></textarea>
        </div>

        <div class="form-group required">
          <label for="outcome-input" class="control-label mb-0" aria-describedby="outcome-description">The Outcome</label>
          <small id="outcome-description" class="d-block mb-2">In 1-2 sentences, write about the outcome of your project</small>
          <textarea
            id="outcome-input"
            class="form-control"
            v-model="form.outcome"
            type="text"
            required
          ></textarea>
        </div>

        <div class="form-group required">
          <label for="impact-input" class="control-label" aria-describedby="impact-description">The Impact</label>
          <small id="impact-description" class="d-block mb-2">In 1-2 sentences, write about the impact of your project</small>
          <textarea
            id="impact-input"
            class="form-control"
            v-model="form.impact"
            type="text"
            required
          ></textarea>
        </div>
      </div>
      <!-- end of project information section -->
      <div class="button-container">
        <span aria-hidden="true" class="step-container">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
        <button @click="nextStep()" class="btn btn-purple float-right">Continue &gt</button>
      </div>
    </div>
    <!-- end of first page -->

    <!-- start of second page -->
    <div v-else-if="step===2">
      <!-- start of main content information section -->
      <div class="mb-5">
        <h2>Main Content Information</h2>
        <p>Please fill out the following information regarding the main two sections you want to appear on your Capstone project page.</p>
        <p><em>Reminder: The order of these sections will be the order of information displayed on your Capstone project page.</em></p>

        <div class="form-group required">
          <label for="maincontent-title-input0" class="control-label">Main Content Title #1</label>
          <input
            id="maincontent-title-input0"
            class="form-control"
            v-model="form.main[0].title"
            type="text"
            required
          ></input>
        </div>
        
        <div id="customSections1" class="carousel slide mb-4" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div>
                <h3>Text Only</h3>
                <div class="d-flex justify-content-between">
                  <div>
                    <input type="radio" name="section-choices-1" id="one-text-1" aria-label="Section with one text block">
                    <label for="one-text-1">
                      <one-text-section-icon></one-text-section-icon>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="section-choices-1" id="two-text-1" aria-label="Section with two text blocks next to each other">
                    <label for="two-text-1">
                      <two-text-section-icon></two-text-section-icon>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <h3>Pictures and Text</h3>
                <div class="d-flex justify-content-between">
                  <div>
                    <input type="radio" name="section-choices-1" id="mixed-text-left-1" aria-label="Section with text block on the left and picture block on the right">
                    <label for="mixed-text-left-1">
                      <mixed-text-left-section-icon></mixed-text-left-section-icon>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="section-choices-1" id="mixed-text-right-1" aria-label="Section with picture block on the left and text block on the right">
                    <label for="mixed-text-right-1">
                      <mixed-text-right-section-icon></mixed-text-right-section-icon>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <h3>Pictures Only</h3>
                <div class="d-flex justify-content-between">
                  <div>
                    <input type="radio" name="section-choices-1" id="one-picture-1" aria-label="Section with one picture block">
                    <label for="one-picture-1">
                      <one-picture-section-icon></one-picture-section-icon>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="section-choices-1" id="two-picture-1" aria-label="Section with two picture blocks next to each other">
                    <label for="two-picture-1">
                      <two-picture-section-icon></two-picture-section-icon>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#customSections1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customSections1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


        <div class="form-group required">
          <label for="maincontent-title-input1" class="control-label">Main Content Title #2</label>
          <input
            id="maincontent-title-input1"
            class="form-control"
            v-model="form.main[1].title"
            type="text"
            required
          ></input>
        </div>
        
        <div id="customSections2" class="carousel slide mb-4" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div>
                <h3>Text Only</h3>
                <div class="d-flex justify-content-between">
                  <div>
                    <input type="radio" name="section-choices-2" id="one-text-2" aria-label="Section with one text block">
                    <label for="one-text-2">
                      <one-text-section-icon></one-text-section-icon>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="section-choices-2" id="two-text-2" aria-label="Section with two text blocks next to each other">
                    <label for="two-text-2">
                      <two-text-section-icon></two-text-section-icon>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <h3>Pictures and Text</h3>
                <div class="d-flex justify-content-between">
                  <div>
                    <input type="radio" name="section-choices-2" id="mixed-text-left-2" aria-label="Section with text block on the left and picture block on the right">
                    <label for="mixed-text-left-2">
                      <mixed-text-left-section-icon></mixed-text-left-section-icon>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="section-choices-2" id="mixed-text-right-2" aria-label="Section with picture block on the left and text block on the right">
                    <label for="mixed-text-right-2">
                      <mixed-text-right-section-icon></mixed-text-right-section-icon>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <h3>Pictures Only</h3>
                <div class="d-flex justify-content-between">
                  <div>
                    <input type="radio" name="section-choices-2" id="one-picture-2" aria-label="Section with one picture block">
                    <label for="one-picture-2">
                      <one-picture-section-icon></one-picture-section-icon>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="section-choices-2" id="two-picture-2" aria-label="Section with two picture blocks next to each other">
                    <label for="two-picture-2">
                      <two-picture-section-icon></two-picture-section-icon>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#customSections2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customSections2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- end of main content information section -->
      <div class="button-container">
        <button @click="back()" class="btn btn-outline-purple float-left">&lt Back</button>
        <span aria-hidden="true" class="step-container">
          <span class="dot"></span>
          <span class="dot active"></span>
          <span class="dot"></span>
        </span>
        <button @click="nextStep()" class="btn btn-purple float-right">Continue &gt</button>
      </div>
    </div>
    <!-- end of second page -->

    <!-- start of third page -->
    <div v-else-if="step===3">
      <!-- start of additional project information -->
      <div class="mb-5">
        <h2>Additional Project Information</h2>

        <div class="form-group">
          <label for="next-steps-input" class="control-label">Next Steps</label>
          <textarea
            id="next-steps-input"
            class="form-control"
            rows="8"
            v-model="form.nextSteps"
            type="text"
            required
          ></textarea>
        </div>

        <div class="form-group required" aria-labelledby="status-label">
          <label id="status-label" class="control-label">What is the status of your project?</label>
          <div class="form-check">
            <input
              type="radio"
              id="open-status"
              name="open-status"
              class="form-check-input"
              v-model="form.status"
              v-bind:value="true"
            >
            <label class="form-check-label" for="open-status">
              Open
            </label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="closed-status"
              name="closed-status"
              class="form-check-input"
              v-model="form.status"
              v-bind:value="false"
            >
            <label class="form-check-label" for="closed-status">
              Closed
            </label>
          </div>
        </div>

        <div class="form-group required" aria-labelledby="link-label">
          <label id="link-label" class="control-label">Does your project have links?</label>
          <div class="form-check">
            <input
              type="radio"
              id="yesLinks"
              name="yesLinks"
              class="form-check-input"
              v-model="link"
              v-bind:value="true"
            >
            <label class="form-check-label" for="yesLinks">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="noLinks"
              name="noLinks"
              class="form-check-input"
              v-model="link"
              v-bind:value="false"
            >
            <label class="form-check-label" for="noLinks">
              No
            </label>
          </div>
        </div>

        <div class="form-group" v-if="link">
          <div class="form-group" v-for="(link, index) in form.links">
            <label :for="'link-input'+index">Link</label>
            <input
              :id="'link-input'+index"
              class="form-control"
              v-model="form.links[index]"
              type="text"
            ></input>
          </div>
          <button @click="addLink()" type="button" class="btn btn-outline-dark">Add another link</button>
        </div>
      </div>
      <!-- end of additional project information section -->

      <!-- start of tags section -->
      <div class="mb-5">
        <h2>Tags</h2>

        <div class="form-group required">
          <label for="topics-input" class="control-label">Topics (Select up to 3)</label>
          <div class="form-check" v-for="topic in topics">
            <input
              class="form-check-input"
              type="checkbox"
              :value="topic"
              :id="topic"
              v-model="form.topics"
              :value="topic"
              :disabled="form.topics.length >= 3 && !form.topics.includes(topic)" 
            > 
            <label class="form-check-label" :for="topic">
              {{ topic }}
            </label>
          </div>
        </div>

        <div class="form-group required">
          <label for="technology-input" class="control-label">Technology (Select up to 3)</label>
          <div class="form-check" v-for="tech in technology">
            <input
              class="form-check-input"
              type="checkbox"
              :value="tech"
              :id="tech"
              v-model="form.technology"
              :value="topic"
              :disabled="form.technology.length >= 3 && !form.technology.includes(tech)" 
            > 
            <label class="form-check-label" :for="tech">
              {{ tech }}
            </label>
          </div>
        </div>
      </div>
      <!-- end of tags section -->
      <div class="button-container">
        <button @click="back()" class="btn btn-outline-purple float-left">&lt Back</button>
        <span aria-hidden="true" class="step-container">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active"></span>
        </span>
        <button type="submit" class="btn btn-purple float-right">Create Project Page &gt</button>
      </div>
    </div>
    <!-- end of third page -->
  </form>

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
